@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Advertência:wght@500 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Courgette & display=swap');
*{
    padding: 0px;
    border: 0px;
    margin: 0px;
}

:root{
    --colorA: #0C3236;
    --colorB: #754A45;
    --colorC: #6E9E65;
    --colorD: #47434A;
    --colorE: #AB9E65;

    --fontTitle: 'Caveat', cursive;
    --fontsubTitle: 'Courgette' , cursive;
    --fontnormal: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(70, 67, 67);
}

header{
    width: 100%;
    height: 25vw;
    background-image: url(images/fundo.png);
    background-position: center;
    background-size: cover;
    max-height: 300px;
    position: relative;

    box-shadow: 2px 4px 10px rgb(0, 0, 0);
}

header > h1{
    font-family: var(--fontTitle);
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.74);
    font-style: italic;
    font-size: clamp(1em,6vw,7em);
    text-align: center;

    position: relative;
    top: 20%;
}

header > nav{
   bottom: 12px;
   position: absolute;
}

nav > a{
    padding: 3px;
    padding-right: 2vw;
    padding-left: 2vw;
    margin-left: 15px;
    text-decoration: none;

    border: 1px solid rgba(255, 255, 255, 0.541);
    background-color: #2f424450;
    color: rgba(255, 255, 255, 0.788);
    font-size: clamp(0.9em,2vw,1.5em);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.267);

    font-family: var(--fontsubTitle);

    border-radius: 3px;
}

nav > a:hover{
    background-color: #132d3181;
    color: white;
}

main{
    background-image: url(images/background.jpg);
    background-size: cover;
}

div#destaque{
    width: 80vw;
    margin: auto;
}

#destaque > h2{
    font-size: clamp(1.5em,5vw,4em);
    color: white;
    text-decoration: underline;
    font-family: var(--fontsubTitle);

    background-color: #092427b4;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 5px 5px 20px rgb(0, 0, 0);

    text-align: center;
    padding-top: 5px;
}

div#video{
    margin: auto;
    margin-top: 30px;
    
    width: 55%;
    height: 35vw;
    min-width: 350px;
    min-height: 220px;
}

iframe{
    width: 100%;
    height: 100%;

    border: solid 1px white;
    box-shadow: 3px 1px 3px rgb(0, 0, 0);
}

section{
    text-align: center;
}

h3{
    color: white;
    font-family: var(--fontnormal);
    font-size: clamp(1.5em,3vw,3em);
    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;
  
}

a  > img{
    height: 5vw;
    width: 5vw;
    min-width: 50px;
    min-height: 50px;

    border-radius: 35px;    
    padding: 1vw;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
}

a > img:hover{
    background-color: #47434aa8;
   
}